body, ul,h1,h2,h3,h4,h5,h4{
  margin : 0;
  padding: 0;

  font-family: sans-serif;
}


a{
  text-decoration: none;
  color: white;
}

.app {
  width: 100%;
  height: 100%;
}
#world {
  position : absolute;
  display: none;
  width : 100vw;
  height : 100vh;
  overflow: hidden;
  background-size: cover;
}

#showreel{

  margin: 0 auto;
  padding-top: 5%;
  min-width: 500px;
  width: 80%;
  height: 500px;
}

li{
  list-style: none;
}

.screen{
  width: 100vw;
  height: 100vh;
  /* background: url("../../dist/assets/img/BG.png") no-repeat; */
  overflow: hidden;
  position: relative;
}

.score{
	position: absolute;
	z-index: 10;
}

.introScreen{
  text-align: center;
  display: grid;
  background: url("../../dist/assets/img/BG.png") no-repeat;
  background-size: cover;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

}

.title{
  grid-column: 1 /span 3;
  grid-row : 1;
  margin-bottom: 40px;
  padding-top: 20px;
}

.title_img{
  width: 45%;
}

.intro_buttons{
  margin: 0 3vw;
  grid-column: 2;
  grid-row : 2;
  width: 80%;
  position: relative;
}



.playButton{
  position: absolute;
  width : 300px;
  height: 180px;
  z-index: 2;
  background-image: url('../../dist/assets/img/interfaces/play_button.png');
  background-position: 0px 0px;
}
.playButton:hover{

  background-position: -300px 0px;
}
.playButton:active{

  background-position: 300px 0px;
}

.optionButton{
  position: absolute;
  width : 300px;
  height: 180px;
  top : 80px;
  z-index: 1;
  background-image: url('../../dist/assets/img/interfaces/menuoption_button.png');
  background-position: 0px 0px;
}
.optionButton:hover{

  background-position: -300px 0px;
}
.optionButton:active{

  background-position: 300px 0px;
}

.creditButton{
  position: absolute;
  width : 300px;
  height: 180px;
  top : 160px;
  z-index: 2;
  background-image: url('../../dist/assets/img/interfaces/credit_button.png');
  background-position: 0px 0px;
}

.creditButton:hover{

  background-position: -300px 0px;
}

.creditButton:active{

  background-position: 300px 0px;
}

/* .btn span {
  background: #FFF;
  display: block;
  padding: 10px 20px;
  border-radius: 2px;
  background: linear-gradient(#147698,#2B0854);
} */

/* .btn:hover {
  top: 4px;
  padding-bottom: 0px;
  box-shadow: 0 2px 0px 2px #460A7F;
}
.btn {
  margin-top: 20px;
  display: inline-block;
  font: normal 22px/25px sans-serif;
  margin-right: 10px;
  text-transform: uppercase;
  background: linear-gradient(#147698,#2B0854);
  color: #fff;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 2px;
  box-shadow: 0 2px 0px 2px #460A7F;
  transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
} */

.fluidimg{
  max-width: 100%;
}

/* Header / Footer */

.header{
  position: absolute;
  width: 100%;
  top: 5%;
  z-index: 1;
}

.header_nav{
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sound{
  width : 200px;
  height: 200px;
  background-image: url('../../dist/assets/img/interfaces/sound_button.png');
  background-position: 0px 0px;
}
.sound:active{
  background-position: 200px 0px;
}

.music{
  width : 200px;
  height: 200px;
  background-image: url('../../dist/assets/img/interfaces/music_button.png');
  background-position: 0px 0px;
}
.music:active{
  background-position: 200px 0px;
}

.option{
  width : 200px;
  height: 200px;
  background-image: url('../../dist/assets/img/interfaces/option_button.png');
  background-position: 0px 0px;
}
.option:active{
  background-position: 200px 0px;
}


.screen_footer{
  position: absolute;
  width: 100%;
  bottom:0;
  z-index: 1;
}

.footer_nav{
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer--item{
  color: white;
}


/* .header_nav--item{
  width: 33%;
} */

.option_buttons{
  display: flex;
  flex-direction: row;
}



/*  Maps */

.maps {
  height: 100vh;
  background: url("../../dist/assets/img/BG.png") no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);

  grid-template-areas :
    ". . . . . ."
    ". . . . map6 ."
    ". one . map3 . map4"
    ". . two . map5 ."
    ". . . . . .";
}

.map1{
  grid-area : one;
}
.map2{
  grid-area : two;
}
.map3{
  grid-area : map3;
}
.map4{
  grid-area : map4;
}
.map5{
  grid-area : map5;
}
.map6{
  grid-area : map6;
}


.map_icon{
  text-align: center;
}
.map_title{
  display: none;
  text-align: center;
  margin-top: -2.5em;
  padding: 1em 1em;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3em;
}

.map:hover .map_title{
  display: block;
}

/* ---- Map description --- */
.description{

  position: absolute;
  z-index : 2;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  display: none;
}

.description_block{
  padding: 2.5em;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: linear-gradient(#80D9ED, #8457B2);
  border: 8px solid #2F0042;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3) inset, 10px 20px 20px 1px rgba(0, 0, 0, 0.3);

}

.description_img{
  width: 750px;
  background-color: white;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
}

.description_textblock{
  width: 750px;
  color: white;
  margin-left: 32px;
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
}

.textblock--title h2{
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.3em;

}

.textblock--waves{
  font-size:24px;
  font-weight: 600;
}

.textblock--text{
  font-size: 16px;
  font-weight: 200;
  color: lightgrey;
}

.textblock--btn{
  display: inline-block;
  margin-top: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 1em 10%;
  border : 1px solid #80D9ED;
  color : #80D9ED;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -2px 2px 8px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.textblock--btn:hover{
  color : #2F0042;
  border : 1px solid #2F0042;
  background-color: rgba(255, 255, 255, 0.6);
}


.char_choice{
  width : 300px;
  height: 180px;
  background-image: url('../../dist/assets/img/interfaces/charchoice_button.png');
  background-position: 0px 0px;
}

.char_choice:hover{
  background-position: -300px 0px;
}

.char_choice:active{
  background-position: 300px 0px;
}

.exit{
  width : 200px;
  height: 200px;
  background-image: url('../../dist/assets/img/interfaces/back_button.png');
  background-position: 0px 0px;
}

.exit:active{
  background-position: 200px 0px;
}
/* Modules */

.menu_module {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index :10;
  top: 40%;
  left: 0;
  right: 0;

  width : 768px;
  height: 1024px;
  background-image: url('../../dist/assets/img/interfaces/menu_module.png');
  background-position: 0px 0px;
}

.state_module{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index :10;
  top: 40%;
  left: 0;
  right: 0;

  height: 192px;
  transform: skew(20deg);
  background: linear-gradient(0.25turn, rgba(128, 217, 237, 0.2), rgba(128, 217, 237, 0.9), rgba(255, 255, 255, 0.9), rgba(128, 217, 237, 0.9), rgba(128, 217, 237, 0.2));

}

.state_module--text{
  text-transform: uppercase;
  color: white;
  font-size: 64px;
  font-weight: 400;
}
