body {
  margin : 0;
  padding: 0;
  background-color: #211c4e;
  font-family: 'Titillium Web', sans-serif;
}

ul,h1,h2,h3,h4,h5,h4,p{
  margin : 0;
  padding: 0;
}


a{
  text-decoration: none;
  color: white;
}

.app {
  width: 100%;
  height: 100%;
}
#world {
  position : absolute;
  display: none;
  width : 100%;
  height : 100%;
  /* overflow: hidden; */
  background-size: cover;
}

#showreel{

  margin: 0 auto;
  padding-top: 5%;
  min-width: 500px;
  width: 80%;
  height: 500px;
}

li{
  list-style: none;
}

.screen{
  margin: 0 auto;
  width: 100vw;
  height: 100vh;

  /* background: url("../../dist/assets/img/BG.png") no-repeat; */
  /* overflow: hidden; */
  position: relative;
}


.score{
	position: absolute;
	z-index: 10;
}

.introScreen{
  margin-top: 3em;
  width: 1180px;
  height: 720px;
  text-align: center;
  display: grid;
  background: url("../../dist/assets/img/BG.png") no-repeat;
  background-size: cover;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

}

.title{
  grid-column: 1 /span 3;
  grid-row : 1;
  margin-bottom: 40px;
  padding-top: 20px;
}

.title_img{
  width: 45%;
}

.intro_buttons{
  margin: 0 40px;
  grid-column: 2;
  grid-row : 2;
  width: 80%;
  position: relative;
}



.playButton{
  position: absolute;
  width : 300px;
  height: 180px;
  z-index: 2;
  background-image: url('../../dist/assets/img/interfaces/play_button.png');
  background-position: 0px 0px;
}
.playButton:hover{

  background-position: -300px 0px;
}
.playButton:active{

  background-position: 300px 0px;
}

.optionButton{
  position: absolute;
  width : 150px;
  height: 100px;
  top : 120px;
  right: 25px;
  z-index: 9;
  background-image: url('../../dist/assets/img/interfaces/menuoption_button.png');
  background-position: -125px -40px;
}
.optionButton:hover{

  background-position: -425px -40px;
}
.optionButton:active{

  background-position: 175px -40px;
}

.creditButton{
  position: absolute;
  width : 300px;
  height: 180px;
  top : 160px;
  z-index: 2;
  background-image: url('../../dist/assets/img/interfaces/credit_button.png');
  background-position: 0px 0px;
}

.creditButton:hover{

  background-position: -300px 0px;
}

.creditButton:active{

  background-position: 300px 0px;
}

/* .btn span {
  background: #FFF;
  display: block;
  padding: 10px 20px;
  border-radius: 2px;
  background: linear-gradient(#147698,#2B0854);
} */

/* .btn:hover {
  top: 4px;
  padding-bottom: 0px;
  box-shadow: 0 2px 0px 2px #460A7F;
}
.btn {
  margin-top: 20px;
  display: inline-block;
  font: normal 22px/25px sans-serif;
  margin-right: 10px;
  text-transform: uppercase;
  background: linear-gradient(#147698,#2B0854);
  color: #fff;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 2px;
  box-shadow: 0 2px 0px 2px #460A7F;
  transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
} */

.fluidimg{
  max-width: 100%;
}

/* Header / Footer */

.header{
  position: absolute;
  width: 100%;
  top: 5%;
  z-index: 1;
}

.header_nav{
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sound{
  width : 75px;
  height: 75px;
  background-image: url('../../dist/assets/img/interfaces/sound_button.png');
  background-position: 0px 0px;
}

.sound:active{
  background-position: -75px 0px;
}

.music{
  width : 75px;
  height: 75px;
  background-image: url('../../dist/assets/img/interfaces/music_button.png');
  background-position: 0px 0px;
}


.music:active{
  background-position: -75px 0px;
}

.pause{
  display: none;
  width : 75px;
  height: 75px;
  background-image: url('../../dist/assets/img/interfaces/pause_button.png');
  background-position: 0px 0px;
}

.pause:active{
  background-position: -75px 0px;
}



.screen_footer{
  position: absolute;
  margin-bottom: 2em;
  width: 100vw;
  bottom:0;
  z-index: 1;
}

.footer_nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;

  padding: 0 2em;
}

.footer_nav--item{
  width: 20%;
}


/* .header_nav--item{
  width: 33%;
} */

.option_buttons{
  display: flex;
  flex-direction: row;
}



/*  Maps */

.maps {
  position: relative;
  margin: 0 2em;
  height: 100vh;
  background: url("../../dist/assets/img/BG.png") no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);

  grid-template-areas :
    ". . . map6 . ."
    ". . . map6 . ."
    "one . map3 map3 map4 map4"
    ". two . map5 map5 ."
    ". . . . . .";
}

.map1{
  grid-area : one;
}
.map2{
  grid-area : two;
}
.map3{
  grid-area : map3;
}
.map4{
  grid-area : map4;
}
.map5{
  grid-area : map5;
}
.map6{
  grid-area : map6;
}

.map{
  position: relative;

}

.map_icon{
  position: absolute;
  margin: 0 auto;
  width: 100px;
  left: 0;
  right: 0;
  top: 30%;

  cursor: pointer;
}
.map_hidden-info{
  position: absolute;

  height: 0;
  overflow: hidden;
  margin: 0 auto;
  width: 150px;
  left: 100px;
  bottom: 0;
  transform: translate3d(0,0,0);
  margin-bottom: 1em;
  padding: 0 1em;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3em;
  transition: all 0.3s ease-out;
  /* background: rgba(80, 80, 80, 0.5); */
}

.map:hover .map_hidden-info{
  height: 85%;
  display: block;
}

.map_title{
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 0.2em;
  text-shadow :   0 1px 0 hsl(283,60%,60%),
                  0 2px 0 hsl(283,60%,55%),
                  0 3px 0 hsl(283,60%,50%),
                  0 4px 0 hsl(283,60%,46%);
}

/* .map_title:after{
  content: " ";
  position: absolute;
  width: 50px;
  bottom: -10px;
  left: 50%;
  margin-left: -25px;
  border-bottom: 1px solid white;
} */

.map_infoTitle{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: -0.2em;
  padding-left: 12px;
  border-left: 1px solid white;
}

.map_info{
  text-transform: uppercase;
  padding-left: 12px;
  font-size: 18px;
  font-weight: 400;
  text-shadow :   0 1px 0 hsl(283,60%,60%),
                  0 2px 0 hsl(283,60%,55%),
                  0 3px 0 hsl(283,60%,50%),
                  0 4px 0 hsl(283,60%,46%);
  border-left: 1px solid white;
}

/* ---- Map description --- */
.description{
  position: relative;
  margin: 0 auto;
  width: 60%;
}

.description_block{
  padding: 2.5em;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: linear-gradient(-0.37turn, #80D9ED, #8457B2, #8457B2);
  border: 8px solid #2F0042;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3) inset, 10px 20px 20px 1px rgba(0, 0, 0, 0.3);

}

.description_img{
  width: 750px;
  background-color: #282152;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
}

.description_textblock{
  width: 750px;
  color: white;
  margin-left: 32px;
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
}

.textblock--title{
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 400;
  text-shadow: none;
  border-bottom: 1px solid rgba(255,255,255, 0.5);
}

.textblock--waves{
  margin-top : 24px;
  font-size:16px;
  font-weight: 200;
  text-transform: uppercase;
}

.textblock--waves p {
  margin-top: -10px;
}

.textblock--waves span{
  font-size: 24px;
  font-weight: 600;
}

.textblock--text{
  margin-top: 16px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.2;
  color: lightgrey;
}

.textblock--btn{
  display: inline-block;
  margin-top: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 1em 10%;
  border : 1px solid #80D9ED;
  color : #80D9ED;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -2px 2px 8px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.textblock--btn:hover{
  color : #2F0042;
  border : 1px solid #2F0042;
  background-color: rgba(255, 255, 255, 0.6);
}

.exit-btn{
  position: absolute;

  top: 25px;
  right: 50px;
  font-size: 32px;
  font-weight: 600;
}


.char_choice{
  width : 300px;
  height: 180px;
  background-image: url('../../dist/assets/img/interfaces/charchoice_button.png');
  background-position: 0px 0px;
}

.char_choice:hover{
  background-position: -300px 0px;
}

.char_choice:active{
  background-position: 300px 0px;
}

.exit{
  width : 150px;
  height: 150px;
  background-image: url('../../dist/assets/img/interfaces/back_button.png');
  background-position: 0px 0px;
}

.exit:active{
  background-position: 150px 0px;
}
/* Modules */

.module{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index :10;
  top: 20%;
  left: 0;
  right: 0;
}

.menu_module{
  margin-top: -13.5%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.4);
}

.menu_module--img {
  margin: 0 auto;
  margin-top: 15%;
  width : 358px;
  height: 319px;
  background-image: url('../../dist/assets/img/interfaces/Pause_bg-01.png');
}

.state_module{
  display: flex;
  margin-top: 100px;
  height: 12em;
  line-height: 12em;
  transform: skew(20deg);
  background: linear-gradient(0.25turn,  rgba(47, 0, 66, 0), rgba(47, 0, 66, 0.6), rgba(47, 0, 66, 0.8), rgba(47, 0, 66, 0.6), rgba(47, 0, 66, 0));
}

.state_module--text{
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #80D9ED;
  font-size: 78px;
  font-weight: 600;
}

.end_module{
  padding: 2.5em;
  width: 50%;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: linear-gradient(-0.37turn, #80D9ED, #8457B2, #8457B2);
  border: 8px solid #2F0042;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3) inset, 10px 20px 20px 1px rgba(0, 0, 0, 0.3);
}

.end_module--title{
  display: flex;
  justify-content: space-around;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 0.2em;
  text-shadow :     0 1px 0 hsl(217, 41%, 41%),
                    0 2px 0 hsl(217, 41%, 38%),
                    0 3px 0 hsl(217, 41%, 36%),
                    0 4px 0 hsl(217, 41%, 33%),
                    0 5px 0 hsl(217, 41%, 31%),
                    0 6px 0 hsl(217, 41%, 26%),
                    0 7px 0 hsl(217, 41%, 23%),
                    0 8px 0 hsl(217, 41%, 21%);
  color: #80D9ED;
}



.end_module--buttons{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  margin : 18px;
}

.end_module--text{
  margin-right: 16px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow :   0 -1px 0 hsl(217, 41%, 31%),
                  0 -2px 0 hsl(217, 41%, 26%),
                  0 -3px 0 hsl(217, 41%, 23%),
                  0 -4px 0 hsl(217, 41%, 21%);
  color : #80D9ED;
}

.end_module--interface{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.return{
  width : 90px;
  height: 60px;
  background-image: url('../../dist/assets/img/buttons/return_end-btn-01.png');
  background-position: 0px 0px;
}


.replay{
  width : 100px;
  height: 60px;
  background-image: url('../../dist/assets/img/buttons/replay_end-btn-01.png');
  background-position: 0px 0px;
}





/* In game info */

.footer--item{
  padding: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;

  /* background-color: rgba(255, 255, 255, 0.2); */
  /* border: 2px solid rgba(47, 0, 66, 0.8); */
}


.fragment{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 75px;

  padding: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;

}

.fragment-text{
  margin-left: 25%;
  font-size: 38px;
  font-weight: 400;
  color: #1fccc3;
}

.fragment-img{
  width : 150px;
  height: 75px;
  background-image: url('../../dist/assets/img/icons/Fragment.png');
  background-repeat: no-repeat;
}

.lifes{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.life{
  width : 75px;
  height: 75px;
  background-image: url('../../dist/assets/img/icons/Life.png');
}
